img{
    width: 100%;
}
*{
    margin: 0px;
}
.main-contier{
    /* height: 800px; */
    width: 100%;
    /* border: 2px solid; */
}
.container-1{
    /* height: 600px; */
    width: 100%;
    /* border: 2px solid; */
    position: relative;
}
.container-2{
    /* height: 300px; */
    width: 100%;
    /* border: 2px solid; */
}
.container-3{
    /* height: 300px; */
    width: 100%;
    /* border: 2px solid; */
}
.child-1{ 
    display: inline-block;
    /* height: 350px; */
    width: 350px;
    /* border: 2px solid; */
    margin-left: 10px;
   
}
.child-2{
    display: inline-block;
    /* height: 350px; */
    width: 350px;
    /* border: 2px solid; */
    margin-left: 10px;
}
.child-3{
    display: inline-block;
    /* height: 350px; */
    width: 350px;
    /* border: 2px solid; */
     margin-left: 10px;
}
.child-4{
    display: inline-block;
    /* height: 350px; */
    width: 350px;
    /* border: 2px solid; */
     margin-left: 10px;
}
.child-5{
    display: inline-block;
    /* height: 350px; */
    width: 350px;
    /* border: 2px solid; */
     margin-left: 10px;
}
.child-6{
    display: inline-block;
    /* height: 350px; */
    width: 350px;
    /* border: 2px solid; */
     margin-left: 10px;
}
.child-7{
    display: inline-block;
    /* height: 350px; */
    width: 350px;
    /* border: 2px solid; */
     margin-left: 10px;
}
.child-8{
    display: inline-block;
    /* height: 350px; */
    width: 350px;
    /* border: 2px solid; */
     margin-left: 10px;
}
h3{
    background-color: black;
    color: white;
    padding: 10px;
    position: absolute;
    top: 0px;

}


