/* .container{
    width: 300px;
    height: 400px;
    border: width 2px;
    border-style: solid;
    border-color: aqua;
    margin-top: 100px;
    
}
p{
    padding-left: 100px;
    padding-top: 100px;
    padding-right: 100px;
}   */

.container{
    display: flex;
    width: 100%;
    height: 500px;
    /* border: 2px solid red; */
}
.child-1{
display: inline-block;

width: 200px;
margin-left: 140px;

/* border: 2px solid blue; */
}
.child-2{
display: inline-block;   
width: 200px;
margin-left: 140px;

/* border: 2px solid blue; */
}
.child-3{
display: inline-block;
width: 200px;
margin-left: 140px;

/* border: 2px solid blue; */
}
.child-4{
display: inline-block;
width: 200px;
margin-left: 140px;

/* border: 2px solid blue; */
}
img{
    width: 100%;
}
.container-1{
    display: flex;
    width: 100%;
    height: 600px;
    /* border: 2px solid red; */
}
.child-5{
    margin-left: 140px;
    display: inline-block;
    width: 200px;
    /* height: 500px;
    border: 2px solid green; */
}
.child-6{
    margin-left: 140px;
    display: inline-block;
    width: 200px;
    /* height: 500px;
    border: 2px solid green; */
}
.child-7{
    margin-left: 140px;
    display: inline-block;
    width: 200px;
    /* height: 500px;
    border: 2px solid green; */
}
.child-8{
    margin-left: 140px;
    display: inline-block;
    width: 200px;
    /* height: 500px;
    border: 2px solid green; */
}